:root {
    --gray-bg: #e7e9eb;
    --blue-bg: #2a477c;
    --hover-blue:  hsl(219, 49%, 33%, 0.9);
    --border: 1px solid black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 100px 3fr;
}

header {
    grid-column: 1/-1;
    grid-row: 1/1;
    background-color: var(--blue-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

header p {
    color: #ffffff;
    font-weight: 700;
    font-size: 3rem;
}

.burgerMenu {
    display: none;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 2/-1;
    padding: 10px 15px;
    background-color: var(--gray-bg);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.closeSide {
    display: none;
}

.inputs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

form {
    height: 25vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.titleLabel {
    grid-column: 1/1;
    grid-row: 1/1;
}

#taskTitle {
    grid-column: 2/-1;
    grid-row: 1/1;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: var(--border);
}

.inputLabel {
    grid-column: 1/1;
    grid-row: 2/3;
}

#inputBar {
    grid-column: 2/-1;
    grid-row: 2/3;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: var(--border);
}

.submitDiv {
    grid-column: 1/-1;
    grid-row: 3/-1;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addBtn {
    border-style: none;
    padding: 8px 15px;
    background-color: var(--blue-bg);
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

#addBtn:hover {
    background-color: var(--hover-blue);
}

.highlights, .bg {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.highlights {
    margin-top: 10px;
    margin-bottom: 10px;
}

.highlightBtns, .bgBtns {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

input[name = 'highlight'] {
    width: 4vw;
    padding: 5px;
    border-style: none;
    background-color: var(--gray-bg);
    border: var(--border);
    border-radius: 5px;
}

input[name = 'highlight']:hover{
    background-color: white;
}

input[name = 'pastel'] {
    width: 8vw;
    padding: 5px;
    border-style: none;
    background-color: var(--gray-bg);
    border: var(--border);
    border-radius: 5px;
}

input[name = 'pastel']:hover {
    background-color: white;
}

.note {
    margin-top: 15px;
    color: rgb(0, 0, 0, 0.8);
    font-style: italic;
}

.main {
    grid-column: 2/-1;
    grid-row: 2/-1;
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top {
    width: 100%;
}

.taskSec {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    gap: 20px;
}

.heading {
    font-weight: 700;
    font-size: 1.5rem;
}

.taskDiv {
    height: 100px;
    width: 500px;
    display: grid;
    grid-template-columns: 30px 400px 30px;
    grid-template-rows: 1fr;
    padding: 10px 10px;
    gap: 10px;
    border-radius: 5px;
    background-color: var(--gray-bg);
}

.checkbox {
    grid-column: 1/2;
    grid-row: 1/-1;
    height: 22px;
    width: 22px;
    accent-color: var(--blue-bg);
}

.middle {
    grid-column: 2/3;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    font-weight: 550;
}

.deleteIcon {
    grid-column: 3/-1;
    grid-row: 1/-1;
    height: 30px;
}


/* Media queries */

/* Small */
@media only screen and (max-width: 600px) {
    /* Header */
    header {
        height: 12vh;
        width: 100vw;
        position: fixed;
        justify-content: space-between;
        padding: 0px 10px;
    }

    header p {
        font-size: 2.5rem;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .burgerMenu {
        display: block;
    }

    /* Sidebar */
    .sidebar {
        height: 100dvh;
        height: 100vh;
        width: 100vw;
        left: 450px;
        position: fixed;
        padding: 0px 10px;
    }

    .sidebarActive {
        left: 0px;
    }

    .closeSide {
        display: block;
        height: 12vh;
        display: flex;
        justify-content: right;
        align-items: center;
        /* border: 1px solid black; */
    }

    .closeIcon {
        font-size: 2.2rem;
        font-weight: bold;
    }

    form {
        grid-template-columns: 100px 240px;
    }

    #addBtn {
        padding: 10px 20px;
    }

    input[name = 'highlight'] {
        width: 30vw;
    }

    input[name = 'pastel'] {
        width: 30vw;
    }

    .note {
        margin-top: 20px;
    }

    /* Main */
    .main {
        margin-top: 12vh;
    }

    .taskSec {
        grid-template-columns: repeat(auto-fit, 345px);
    }

    .taskDiv {
        height: 130px;
        width: inherit;
        grid-template-columns: 35px 225px 35px;
    }

    .title {
        font-size: 1.1rem;
    }
}

/* Medium */
/* @media only screen and (600px <= width <= 992px){
    .sidebar {
        background-color: cornflowerblue;
    }
} */

/* Large */
/* @media only screen and (width >= 1000px){
    .sidebar {
        background-color: beige;
    }
} */





